body{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: MessinaSans,sans-serif;
}
.navbar{
    width: auto;
    max-width: 1440px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    

}
.logo{
    width: auto;
    max-width: 310px;
display: flex;
justify-content: space-between;
position: fixed;
}
.limg{
    position: relative;
width: 89.54px;
height: 45px;
left: 38.24px;
top: 21px;
}
.hl{
    position: relative;
    width: 116.19px;
    height: 51px;
    left: 59.84px;
    top: 10px;
    font-style: normal;
    font-weight:bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.navli{
    height: 85px;
    
    
}
.ulli{
    position: fixed;
    list-style: none;
    width: 826.13px;
    height: 18px;
    left: 393.21px;
    top: 20px;
    color:black;
    display: flex;
    justify-content: space-between;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;


}
.aulli{
    text-decoration: none;
    color: #000000;
}
.nsicon{
    position: relative;
    /* left: 95.93%; */
    right: 2%;
    top: 34.03%;   
}
.con{
    width: auto;
    max-width: 1440px;
    background-color:white;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

}
.con1{
    position: fixed;
    width: 493px;
background-color: #FFFFFF;
    height: 597px;
    left:0px;
    top: 85px;
}
.hcon1{
    position: relative;
    left: 37.31px;
    /* top: 119.09px;*/ 
}
.srcon1{
    position: relative;
    width: 417.9px;
    height: 87.49px;
    left: 37.31px;
    /* top: 153.06px; */
    background: #FFFFFF;
    box-shadow: 19px 19px 90px rgb(0 0 0 / 25%);
}
.sricon1{
    
    position: relative;
    left: 4.5%;
    right: 93.14%;
    top: 36.4%;
    bottom: 92.42%;
    /* background: #8F5A8D;*/
}
.srpcon1 {
    position: relative;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.6);
    left: 81.19px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.plicon1{
    position: absolute;
    left: 45.25px;
    margin-top: 16px;
    font-weight: bold;
}
.fel{
    display: flex;
    font-weight:normal;
    list-style: none;
}
.rcon1{
    box-sizing: border-box;
position: relative;
width: 126.61px;
height: 93.67px;
left: 28.78px;
top: 220.74px;
border: 1px solid #8F5A8D;
font-size: 14px;
}
.ricon1{
    box-sizing: border-box;

position: absolute;
left: 102.74px;
top: 12.38px;
}
.adcon1{
    position: relative;
left: 28.78px;
top: 215px;
font-weight: 500;
font-size: 14px;
}
.con2{
    width: auto;
    max-width: 946px;
    height: 2578px;
    background-color: white;
}
.r1con2{
width: 946px;
height: 331px;
background: #51294F;
margin-top: -5px;
color: white;
}
.p1r1con2{
    padding-top: 18px;
    margin-top: 0px;
    padding-left: 121px;
    font-size: 16px;
}
.con2_1{
width: 407px;
height: 426px;
background-color: #FFFFFF;

}
.r2con2{
    width: 946px;
    height: 145.58px;
    background-color: #51294F;
    color: #FFFFFF;
    margin-top: 55px;
}
.btn{
    box-sizing: border-box;

position: relative;
width: 106.65px;
height: 34.25px;
left: 811px;
top: -55px;
color: #FFFFFF;
border: 1px solid #FFFFFF;
background-color: #51294F;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

